body {
    background-color: #563260;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-shadow: 0 0 3px #0c0c0c, 0 0 5px #0000FF;
    text-align: center;
}
#checklistContainer {
    max-width: 500px;  
    border: 2px solid black; 
    padding: 1rem;  
    margin: 1rem auto; 
    border-radius: 5px; 
    background-color: #f9f9f9;  
}
ul {
    list-style-type: none;
    margin: 20;
    padding: 20;
  }
.bottom {
    text-align: center;

}
.em{
    font-style: italic;
}
#footer {
    position: absolute;
    text-align: left; 
    bottom: 0;
    width: 100%;
    height: 5rem;            /* Footer height */
  }